[2015-02-13 20:06] bparees opened #7 "include scripts in image"
didn't we decide for our images we'd bake the STI scripts into the image rather than download them?  you can still easily override them, but it would improve the speed+reliability of builds using this image.

[2015-02-13 20:15] bparees opened #8 "APP_ROOT unneeded?"
With the new STI support for a contextDir, do we really need each image to support something like APP_ROOT?  Is there a use case where you might want to include the entire repository, but specify a subdirectory for actually running?  I'm thinking not, so we could simplify the implementation slightly by removing this (and not doing it in other images either).

[2015-02-16 08:59] soltysh commented on #7
And testability. Yes we agreed on having them inside.

[2015-02-16 09:00] soltysh commented on #8
:+1:

[2015-02-16 09:03] mfojtik commented on #8
yeah, we should remove all mentions of APP_ROOT right after the updated STI with contexDir support is pushed into Origin.

[2015-02-16 09:03] mfojtik commented on #7
+1

[2015-02-16 13:46] jhadvig commented on #7
@bparees true, will bake them it into the image. The question is where to put them? My first guess would be `/opt/nodejs/bin/` cause we are already putting the `usage` script there. On the other hand we where speaking with @mfojtik and he suggested the `/usr/bin` would be more appropriate.
Thoughts ?

[2015-02-16 15:11] bparees commented on #7
Hmm, i thought we had some sort of .sti dir standard we'd established?

Barring that, I sort of prefer /opt/nodejs/bin so we keep our stuff collected together, much iike v2 cartridges.

[2015-02-16 15:15] mfojtik commented on #7
@jhadvig @bparees I would argue for /usr/local as the /opt/nodejs might collide with things. Also I'm not sure if this is not too late, but I would like to make the commands more explicit in name:

[code]

In this case they can even live in /usr/bin. I don't like abusing /opt as this directory is [reserved](http://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/opt.html) for "third party applicat

[2015-02-16 15:29] bparees commented on #7
it may be too late as we do have people building images already.

not sure how /usr/bin is less likely to collide with things than /opt/nodejs.

In fact that argument makes me even more in favor of including sti.

how about /usr/local/sti  ?

[2015-02-16 15:39] mfojtik commented on #7
@bparees /usr/local/sti is to me better choice :)

[2015-02-16 19:49] soltysh commented on #7
:+1: for `/usr/local/sti` since there's not need to have it in `$PATH` as we're giving full path to dir containing the scripts with `STI_SCRIPTS_URL`.

:-1: for changing script names.

[2015-02-17 15:00] jhadvig commented on #7
Taking care of in: https://github.com/jhadvig/sti-nodejs/commit/1029a8fe81289c387ccd59d41a5e477cb89d5d8b

[2015-02-17 19:14] jhadvig commented on #8
Taken care of this one in: https://github.com/jhadvig/sti-nodejs/commit/20d880cf0a20fa04f1e8ca0682b2c44a114d34ba

[2015-02-18 09:25] jhadvig commented on #7
@bparees the change has been merged. Closing this issue

[2015-02-18 09:25] #7 closed

[2015-02-18 09:27] jhadvig commented on #8
@bparees the change has been merged. Closing this issue.

[2015-02-18 09:27] #8 closed

[2015-08-27 16:57] grdryn opened #64 "Setting NODE_ENV in buildConfig doesn't seem to affect npm install in assemble script"
Setting `NODE_ENV` env var to `production` should make npm only install devDependencies when running `npm install`. In the `sourceStrategy` section of my BuildConfig, I've added the following, [according to the docs](https://docs.openshift.org/latest/dev_guide/builds.html#buildconfig-environment):

[code]

This doesn't seem to have any affect on the `npm install -d` that's run at the [end of the a

[2015-08-27 17:03] mfojtik commented on #64
@grdryn what you did is correct and should work. I wonder whether the environment variable was passed down to the S2I builder container. @jhadvig can you please verify that?

[2015-08-28 15:45] grdryn commented on #64
@mfojtik Thanks for replying.

To clarify, we've tried putting that env object both at `spec.strategy.sourceStrategy`, as that's where sourceStrategy is located [here](https://docs.openshift.org/latest/dev_guide/builds.html#defining-a-buildconfig), and also tried copying that sourceStrategy object to the top level of the buildConfig object. In both of those cases, npm dev dependencies are being in

[2015-08-28 15:55] grdryn commented on #64
I assume there must be cases where the devDependencies are useful with this, or would it make sense to add `--production` to the npm install command?

[2015-08-28 16:16] grdryn commented on #64
I've also tried setting an additional env var to check that it wasn't just an npm issue:

[code]

This should do the same thing as the NODE_ENV one, but dev dependencies still get installed.

[2015-08-31 15:06] grdryn commented on #64
Here's the outline of our BuildConfig definition (with irrelevant sections removed):

[code]

Does this look okay, or have I put something in the wrong place? Thanks again for any input! :)

[2015-08-31 15:14] mfojtik commented on #64
@grdryn lowercase "name" ;-)

[2015-08-31 15:16] mfojtik commented on #64
@grdryn sorry, our documentation is wrong... @jhadvig will fix it.

[2015-08-31 15:24] jhadvig commented on #64
Fix already provided. https://github.com/openshift/openshift-docs/pull/931
Sorry for this.

[2015-08-31 15:30] grdryn commented on #64
@mfojtik @jhadvig Cool, thanks a lot, that worked :+1:

We originally tried with lowercase, but it sounds like we may have had it in th wrong place back then.

[2015-08-31 15:50] jhadvig commented on #64
@grdryn glad to hear that it worked :)

[2015-08-31 16:00] bparees commented on #64
Is the build log level example wrong too?  I've referred people to that and never had it not work...

[2015-08-31 16:01] bparees commented on #64
I guess everyone else ignored the case.   Thanks for the fix, Jakub.

[2015-08-31 20:01] jhadvig commented on #64
@bparees I've updated examples in both sections, Build Logs and BuildConfig Environment

[2015-09-01 08:28] jhadvig commented on #64
Closing this issue since the fix has been merged

[2015-09-01 08:28] #64 closed

[2015-10-29 15:35] mfojtik opened #73 "Attempt to unlock request@~2.40.0, which hasn't been locked"
We can see this happening randomly when building applications:

[code]

After this the assemble script fails. Restarting the build fixes this problem. Is there something we can do with npm @humaton @eliskasl ?

CC @david-martin

[2015-10-29 15:41] mfojtik commented on #73
@humaton https://github.com/npm/npm/issues/4815#issuecomment-145340041 it seems like this might be the solution for this, but I'm not nodejs expert :)

[2015-10-29 21:23] david-martin commented on #73
Very similar issue reported in this version of npm (1.4.28) here https://github.com/npm/npm/issues/5948#issuecomment-90211209
No resolution at this time, but it looks like a timing issue while npm is preparing or building up a list of whats in its cache

[2015-10-30 11:28] david-martin commented on #73
@humaton @mfojtik  After doing some digging and getting feedback from npm team, it sounds like the issue is confine to npm 1. Is it possible to get npm 2 or 3 into the sti-nodejs image?
For now, i've built the sti-nodejs image locally with a change to upgrade to npm 2.14.9, and I'm using this image to avoid the lock issue.

[2015-10-30 13:44] bparees commented on #73
We need the SCL package to be updated to pick up the new npm.  @hhorak what can you tell us about that?

[2015-10-30 14:14] hhorak commented on #73
Hm, this is sad. To my knowledge, we don't plan to update npm to something newer than 1.4.28 in nodejs010 SCL, because npm comes with a loooots of dependencies and it would be ... challenging at least... We'll rather provide a new collection based on nodejs 4.x or newer instead, that's what we focus now.

[2015-12-18 21:18] bparees commented on #73
should be fixed now, SCL did pick up the fix and we've respun the image w/ the fix.  reopen if you hit it again (with a current image), please.

[2015-12-18 21:18] #73 closed

[2016-01-15 21:36] rimolive opened #82 "add 'bower install' command to sti builder"

[2016-01-22 14:11] david-martin commented on #73
@bparees can you confirm if the next scl release will have node0.10 with npm v2?

[2016-01-22 14:53] bparees commented on #73
@david-martin that'd be for @hhorak to confirm.

[2016-01-22 15:12] eliskasl commented on #73
@david-martin, nodejs010 with npm v2 was shipped shortly before Christmas, but it seems the update didn't make it in the rebuilt image for some reason.
For CentOS, we'll be delivering a new collection with the nodejs 4.x LTS release soon.

[2016-01-22 15:23] hhorak commented on #73
And as for the updated npm in nodejs010 in CentOS, we still don't have the process of rebuilding packages in CentOS automatically, so reason why it's not there already might be just that.. I'll take a look at it next week and make sure that whatever is out in RHSCL, it will be available also in CentOS.

[2016-02-03 10:12] php-coder commented on #82
@rimolive @bparees Could I ask you to explain the issue? It's not clear for me what is broken and what we need to fix.

[2016-02-03 10:13] mfojtik commented on #82
@php-coder http://bower.io another package manager for nodejs (in addition to npm). We need to make sure it is packaged for RHEL7. CC @humaton

[2016-02-03 10:35] rimolive commented on #82
@php-coder Nothing to fix in my opinion, but add an extra feature.

@mfojtik unfortunately it is not packaged for RHEL7 yet. Any considerations to always use the RHEL7 package instead of "npm install" it?

[2016-02-03 10:51] mfojtik commented on #82
@rimolive we are trying to keep the centos7 and rhel7 versions of the nodejs image in sync. But you can however fork this repo and just npm install bower during the image build. You can also `npm install bower` in the assemble script, which in that case the bower will be installed in the user home directory.

[2016-02-03 12:31] humaton commented on #82
Use standard way of including packages in rhel please fill RFE in bugzilla. My estimate is that if you get bower in rhel it won't be sooner then jun/july.

[2016-02-03 16:50] elyscape commented on #82
You could add [a postinstall script](https://docs.npmjs.com/misc/scripts) to your package.json file that runs `bower install`.

[2016-02-04 15:43] mfojtik commented on #82
@rimolive can you please describe the use case for what you need the `bower` for?

[2016-02-04 16:09] bparees commented on #82
https://bugzilla.redhat.com/show_bug.cgi?id=1304796

[2016-02-05 13:10] rimolive commented on #82
@mfojtik as you said bower is like npm, but for front-end dependencies. There you can:

* Install front-end packages (like AngularJS)
* Copy the files to a public directory where your Node.js app can reach the files.

I know that if we consider add all package managers it will take a lot of time and effort to do that, but I see bower as essential to a Node.js developer usage.

[2016-02-05 17:21] elyscape commented on #82
All you need to do is add bower to your package.json file as a dependency and then add a postinstall script to that runs `bower install`. You don't need it in the image proper.

[2016-02-23 13:27] rhcarvalho opened #85 "Add test cases and post build hook"
As a guide for users looking at this example, we should add some unit tests and a build hook to run those in OpenShift.

Adding a build hook to run tests looks like this:

[code]

Need to replace `COMMAND-TO-RUN-TESTS` with something appropriate for the tests we add.

[2016-02-23 15:18] rhcarvalho commented on #85
I messed up and created this in the wrong repo.
Migrated to the appropriate place :arrow_right: https://github.com/openshift/nodejs-ex/issues/32

[2016-02-23 15:18] #85 closed

[2016-02-24 14:24] temsa opened #86 "Provide this for LTS and latest NodeJS too"
Hi!

Years have passed, NodeJS-0.10 is far far away now, maybe openshift could support at least LTS version (4.3.1) by default, if not latest one (currently 5.7.0), or better: both ?

Or maybe better than better, support a custom version through an environment variable ( and/or `package.json` referenced version ), like do some cartridges on github ?

[2016-02-24 14:24] temsa commented on #86
example custom version cartridge : https://github.com/icflorescu/openshift-cartridge-nodejs

[2016-02-24 14:30] bparees commented on #86
Are you asking for this for openshift v2 (cartridge) or openshift v3 (image)?

v2 isn't going to happen, for v3 we do have plans to add a new nodejs4.x image in the very near future, our SCL team is working on it.

[2016-02-25 21:21] temsa commented on #86
In fact, both of them, yet this one  was specifically targeted at openshift
v3 ;)

2016-02-24 15:30 GMT+01:00 Ben Parees <notifications@github.com>:

[2016-03-07 10:19] kasicka commented on #82
Are you sure webpack wouldn't be a better solution? Bower seems a little unmaintained and its' dependencies are outdated and contain lot of vulnerabilities.

[2016-03-07 16:50] elyscape commented on #82
Neither is necessary. All you need to do is add them to your package.json file and then add the relevant install command to the postinstall script.

[2016-03-19 21:15] ryanj opened #87 "add $HOME/node_modules/.bin to the PATH"
This should provide a fix for #82

[2016-03-19 22:01] elyscape commented on #87
This shouldn't be necessary. npm adds this to the PATH when executing the scripts in package.json.

[2016-03-20 18:52] ryanj commented on #82
I might have a fix in #88 - you'd just need to document all of your dependencies (including any "globals") in your package.json.

[2016-03-20 19:33] ryanj commented on #87
@elyscape the use case I'm trying to solve is to provide CLI access to scripts - so users won't need to use the "global" installation mode ("npm i -g grunt-cli" or "npm i --global gulp-cli") in order to make grunt, gulp, or bower available to their shell.

[2016-03-20 20:57] elyscape commented on #87
Gotcha. That makes sense.

[2016-03-21 19:10] bparees commented on #87
fixed by https://github.com/openshift/sti-nodejs/pull/88

[2016-03-21 19:10] #87 closed

[2016-03-21 19:12] bparees commented on #82
closing based on @elyscape and @ryanj's suggestion (and the fix that went in to enable invoking bower after installing it as a dep)

[2016-03-21 19:12] #82 closed

[2016-04-08 04:50] ryanj commented on #86
@temsa Feel free to give these images a try: https://github.com/ryanj/origin-s2i-nodejs#versions

[2016-04-12 21:11] nudoru opened #91 "Update Nodejs version"
I encountered issues NPM installing my app in the container Node.js 0.10 container

remote: npm ERR! EEXIST, open '/var/lib/openshift/570405602d52715852000146/.npm/9edcc8i s61-0146-npm-json5-0-4-0-package-tgz.lock'
remote: File exists: /var/lib/openshift/570405602d52715852000146/.npm/9edcc861-0146-npm-json5-0-4-0-package-tgz.lock
remote: Move it away, and try again.

The error seem similar to this

[2016-04-12 21:15] bparees commented on #91
@mfojtik @hhorak I thought we got an updated version of npm that fixed some lock issues?

@nudoru which image are you using?  centos or rhel?  and how are you using it?  (s2i? openshift?)  Can you confirm you're using the latest image?

[2016-04-12 21:33] nudoru commented on #91
@bparees I created a new app from the Openshift web console on the Node.js 0.10 cartridge. When submitting changes w/ Git, it would bonk and error out every time when it tried to build.

[2016-04-12 21:37] bparees commented on #91
@nudoru can you point us to the git repo you're building so we can do a recreate?

[2016-04-12 22:12] nudoru commented on #91
I was building this https://github.com/nudoru/React-Starter

[2016-04-13 10:06] eliskasl commented on #91
@bparees, apparently, the CentOS nodejs010 collection was never updated. @humaton, @kasicka, please make sure to get the latest changes in as soon as possible.

[2016-04-13 13:16] bparees commented on #91
@eliskasl thanks.. @humaton @kasicka can you update this PR once the new collection is available so i can rebulid the nodejs centos image?

[2016-04-18 17:51] alberttwong opened #92 "running `make test` on mac gives an error"
[code]

[2016-04-18 18:37] alberttwong commented on #92
https://github.com/openshift-s2i/s2i-aspnet/issues/7

[2016-05-06 14:17] kasicka commented on #91
Nodejs 0.10 collection is finally updated.

[2016-05-06 21:17] bparees commented on #91
has been rebuilt and pushed.

[2016-05-06 21:17] #91 closed

[2016-05-20 19:25] ryanj opened #101 "generate_container_user permissions error"
I'm getting a "Crash loop back off" when deploying images built on top of the RHEL nodejs-0.10 image with OSE v3.2.0.20

This is what shows up in the log:
`/opt/app-root/etc/generate_container_user: line 10: /opt/app-root/etc/passwd: Permission denied`

[2016-05-20 21:12] bparees commented on #101
this has been fixed, image just hasn't been published yet:
https://github.com/openshift/s2i-nodejs/pull/100
https://bugzilla.redhat.com/show_bug.cgi?id=1336263

[2016-05-20 21:12] #101 closed

[2016-05-24 14:24] hhorak commented on #86
This will be addressed by #96, once it is merged.

[2016-06-27 18:22] bretm commented on #101
This is hitting me on the OpenShift Online (Next-gen) preview, not sure of the right escalation path there :/

[2016-06-27 18:25] bparees commented on #101
@smarterclayton did you talk to ops about updating the nodejs image on online?

[2016-06-27 18:34] smarterclayton commented on #101
No

On Mon, Jun 27, 2016 at 2:25 PM, Ben Parees <notifications@github.com>
wrote:

[2016-06-27 23:10] bparees commented on #101
@bretm's problem was resolved after some irc discussion, online preview has some configuration to be done, but the latest nodejs image should now be used on all nodes.

[2016-07-05 20:41] ryanj opened #106 "`make test` fails on Fedora24"
example `make test` output on F24:

[code]

[2016-07-05 20:47] bparees commented on #106
what if you set SKIP_SQUASH=1?

@goldmann heads up.

[2016-07-05 21:08] goldmann commented on #106
Please use latest docker-squash 1.0.0 RC.

[2016-07-05 21:09] goldmann commented on #106
More info; this old version does not suport Docker 1.10 or later.

[2016-07-05 21:26] ryanj commented on #106
Looks like the repo has moved and the pypi package names have changed?

I tried updating the script to use "docker-squash==1.0.0rc6", but I got the same error.

I'm using F24, which is currently shipping `Docker version 1.10.3, build ee81b72/1.10.3`

When I tried using `SKIP_SQUASH=1`, the build process asked me for my git commit signing key, which I declined to provide. I'm not sure why the scrip

[2016-07-05 21:29] goldmann commented on #106
Besides installing docker-squash you need to adjust build scripts to actually use it. Without it it'll run docker-scripts. There was a rename some time ago, but from PyPi these are two separate projects.

[2016-07-05 21:31] goldmann commented on #106
The binary and invocation is different. This needs to be fixed in the bud scripts. Please consult README for usage. Or run `docker-squash --help`.

[2016-07-05 21:34] ryanj commented on #106
Thanks for the quick responses!
PR submitted: #107

[2016-07-05 21:36] goldmann commented on #106
That was fast! 👍

[2016-07-05 22:37] #106 closed

[2016-07-06 08:57] goldmann commented on #106
@bparees @ryanj Small heads-up - I plan to release 1.0.0 very soon, please watch https://github.com/goldmann/docker-squash/releases

[2016-07-08 20:59] hhorak commented on #86
NodeJS 4.4 is now available.

[2016-07-08 20:59] #86 closed

[2016-07-08 22:07] ryanj opened #111 "Proof-of-concept folder deduplication for NodeJS"
I have a folder de-duplication PoC for nodejs available if anyone is interested:

https://github.com/ryanj/origin-s2i-nodejs/

[2016-07-08 22:31] ryanj commented on #111
Feel free to close this if it's not a priority. It's definitely not urgent in the short term

[2016-09-06 13:53] kbsingh opened #117 "RFE Can we get a nodejs6 build"
Hi

For a couple of efforts bootstrapping up right now, we are looking at nodejs 6 by way of starting the code on. To support this stack in ci, staging and prod environments, it would be great to get a suiteable supported container for nodejs6.

[2016-09-06 14:01] kasicka commented on #117
rh-nodejs6 won't be released in RHSCL 2.3, so there won't be *officially supported* nodejs6 container for a while IMO.

[2016-09-06 15:05] bparees commented on #117
In the meantime you can check out https://github.com/ryanj/origin-s2i-nodejs which provides packaging of the latest nodejs releases.

[2016-09-25 11:50] andrewklau opened #120 "Not receiving SIGTERM"
Running the node4 image, code doesn't seem to receive the SIGTERM event sent from openshift/kuberenetes.

[2016-09-25 14:04] bparees commented on #120
what about if you just s2i build an image locally and docker run it?

under normal circumstances, npm is being exec'd so it is what will receive the signal, i don't know if it properly sends those signals to the node command it launches?

https://github.com/sclorg/s2i-nodejs-container/blob/master/4/s2i/bin/run#L18

Did it work for nodejs 0.10?  that image uses the same logic:
https://github.com/sc

[2016-09-25 14:23] andrewklau commented on #120
Digging deeper, I entered the container and sent the SIGTERM signal to the npm process and that worked. It's weird because other containers like php haven't been seeing this issue.

Will try 0.10 when I get a chance.

[2016-09-26 08:21] elyscape commented on #120
This seems like it could be related to [the Linux kernel's special handling of signals on PID 1][pid1]. It's possible that `npm` doesn't have handlers configured for `SIGTERM`. If that's the issue, putting something like [dumb-init] or [tini] in place should help.

[pid1]: https://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html
[dumb-init]: https://github.com/Yelp/dumb-init
[tin

[2016-09-26 08:45] andrewklau commented on #120
Yes! That sounds about right, sending the SIGTERM to the started node module works (seem to always be pid 23(?).

pid 1 which is npm seems to just be ignored. I noticed this also happens to a PHP worker script, so perhaps this issue should move to openshift/kuberentes ?

[2016-09-26 09:00] elyscape commented on #120
Fundamentally, it's an issue with Docker, but until a good solution is available, the best answer is to ensure that container images have something in place to handle signals properly. Using dumb-init or tini as the entrypoint is a good way to do that.

[2016-10-04 23:58] andrewklau commented on #120
Is it something that could make it's way into the base image so all container images will be able to take advantage of this? dumb-init seems to be making it's way into fedora (?) https://bugzilla.redhat.com/show_bug.cgi?id=1367033

[2016-10-05 07:02] elyscape commented on #120
Yup. You just add an `ENTRYPOINT` line in the base image.

[2016-10-05 07:04] elyscape commented on #120
That being said, rather than rely on packages, it makes more sense to just install tini or dumb-init directly, IMO.

[2016-10-05 09:38] andrewklau commented on #120
@bparees is this something which could be accepted into the base image if I attempted a PR? I'm not sure where this should be tracked.

[2016-10-05 15:24] bparees commented on #120
@andrewklau i'm not yet clear on exactly what is being proposed, but changing the ENTRYPOINT sounds like a non-starter.

Since this issue seems specific to the nodejs image because of the way the main app process actually gets started, i'd prefer to fix the issue in the nodejs image specifically rather than trying to take on a generic solution.

[2016-10-05 16:57] elyscape commented on #120
The thing is, while the issue as documented here doesn't affect the other s2i images, if you read [my link about Linux's special handling of PID 1](https://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html), it becomes apparent that the underlying cause may cause other issues. For example, if an app spawns other processes that themselves spawn other processes, it's possible to end

[2016-10-05 22:06] andrewklau commented on #120
It does seem to effect other images that don't use the default command, eg. we have a php s2i container that is executing a long running php command. It also never receives the SIGTERM signal and ends up being killed ungracefully.

[2016-10-12 17:16] stobias123 opened #123 "Request Path contains unescaped characters."
I'm running OS 1.3 and this build fails behind a authenticated proxy due to an "unescaped character".
I have imported the latest nodejs imagestream (centos), and still have this issue.

Proxy works fine with all other examples, and I can use the proxy with npm locally with no issues.. What's wrong here?

[code]

[2016-10-12 18:09] bparees commented on #123
@stobias123 can you paste in the proxy value you're using?  (mask the hostname if necessary), i know you mentioned it contains some special characters.

I assume this is failing in an openshift build, can you supply the full logs (loglevel=5) from the build? and also the build object?  (oc get build foo -o yaml).

[2016-10-12 18:27] stobias123 commented on #123
@bparees
Here's full logs - http://pastebin.com/HQDEHdXn
Here's build object - http://pastebin.com/TYsuc370

[2016-10-12 18:41] bparees commented on #123
ok cool, so yeah HTTP_PROXY and HTTPS_PROXY env variables are being set for the context of the assemble script execution, which means the assemble script is going to config npm to use those values as proxies.  After that it's a question of why npm doesn't like your proxy value, which is either a bug in npm, or indicative that we need to update our npm packages to pick up something newer that suppo

[2016-10-12 18:43] stobias123 commented on #123
Yes I was able to set NPM proxy locally on a test system with the below versions of npm and node.
[code]

[2016-10-12 18:50] bparees commented on #123
actually it looks like the package in question might not be updated yet, i suspect you're hitting this:
https://bugzilla.redhat.com/show_bug.cgi?id=1366491

it looks like the package hasn't been published yet because the centos image is still picking up rh-nodejs4-nodejs-tunnel-agent-0.3.0-4.el7.noarch

@hhorak any idea when the new tunnel-agent package will be available for the centos image?

[2017-01-17 18:08] cata86 opened #132 "fix-permission optimization"
fix-permission is very slow.
instead of
[code]

I tried with
[code]
it is faster at least 100x
both scripts produce the same result.

[2017-01-17 18:13] #132 closed

[2017-02-21 13:05] cbeldacap opened #135 "Build Angular2 image"
Hello,

I'm trying to use your `s2i-nodejs-container` image to build a Angular2 image (from a git repository of a project of mine).

There is a moment when the building fails saying that there are problems with "npm commands".

Have you heard about any other issue in the same case?

Thank you so much in advance,
Cristóbal

[2017-02-21 13:35] kasicka commented on #135
Can you post the log and a link to your repo, please?

[2017-02-21 15:25] cbeldacap commented on #135
first of all, thnx for the quick feed-back

My repo is just about a standard angular2 project created by `ng new [project]`.
https://github.com/cbeldacap/pruebang2

This is the error I have after typing (being **s2i-nodejs** the image built from this repo from `/4` folder) :
`./s2i.exe   https://github.com/cbeldacap/pruebang2   s2i-nodej   myng2image`

![image](https://cloud.githubusercontent.com/

[2017-03-15 21:14] andrewklau opened #137 "Adding yarn support into nodejs images"
Yarn is a lot more predictable and has better performance over NPM https://blog.heroku.com/yarn-deterministic-dependency-resolution

It'd be good if we could package yarn into the nodejs images and only use it if a yarn.lock file exists

[2017-03-17 12:39] kasicka commented on #135
The repository returns 404.
Building different project works for me/fails because of unsatisfied dependencies in the project.

[2017-03-24 23:48] DMevada opened #138 "Failed to kill container"
Hi,

Not sure if this is the right place to post this, if it's not, please let me know where to open this issue.

I am trying out the example given in 4/README.md.
My system is CentOS 7.2, and here are the steps that I took to generate the docker container:

1) make build TARGET=centos7 VERSION=4
2) ../s2i build https://github.com/sclorg/s2i-nodejs-container.git --context-dir=4/test/test-app/ cent

[2017-03-27 00:43] bparees commented on #138
1) the issue should be opened against the openshift/source-to-image repository
2) when you do so, please provide the full log output (preferably as a gist, not a screenshot).  I can't actually tell from your output that the failure is related to s2i not being able to kill the container, but i don't think it is.

[2017-03-27 00:43] #138 closed

[2017-03-27 14:51] DMevada commented on #138
Alright, thanks for the update

[2017-05-16 10:43] hhorak opened #142 "Enable testing for v6"
Because CentOS images were not ready at the time of creating #141, Makefile does not include version 6, so tests are not run for v6. This issue is created to track this and once packages are available in the CentOS repositories, we can add the testing for v6.

[2017-05-27 15:20] Dec- opened #145 "Extend base Node.js image"
Hi,

how can i extend base Node.js 6 Image?
registry.access.redhat.com/rhscl/nodejs-6-rhel7

With Oracle/DB2 drivers?

[2017-05-30 03:18] bparees commented on #145
Write a Dockerfile that is
[code]

[2017-05-30 03:18] #145 closed

[2017-05-30 18:37] Dec- commented on #145
Thx for answer but when i do something like this:

[code]
I get this error.
[code]

[2017-05-31 01:19] bparees commented on #145
npm is part of an scl package, so you need to enable the scl package before running those commands:
https://github.com/sclorg/s2i-nodejs-container/blob/master/6/root/opt/app-root/etc/scl_enable#L3

you also may need to switch back to "USER root" since by default those commands will run as user 1001 which may or may not have the permissions you need.

[2017-05-31 07:21] Dec- commented on #145
Hi.
it's still the same :)

[code]

Am i doing it right?

[2017-05-31 09:34] omron93 commented on #145
If you don't have special plans with this, it should be still set in resulted image. This allows accessing of programs from Software Collection without doing `scl enable` -- ONLY when running `bash`!

USER 1001

First RUN basically sets some environmental variables. Docker creates new layer and second RUN has clean environment.

So you could have
[code]
preferably
[code]

Or you could use fact tha

[2017-05-31 12:19] Dec- commented on #145
Thank you! It works.
So let's say we want add something to base/builder s2i node.js image. Bower,
Is this recomanded way to do it?

 So when you guys update base image to newer version we only need to change FROM... in ur Dockerfile?

[2017-05-31 20:48] bparees commented on #145
@Dec- yes if you want additional tools included in the image (and assuming you can't convince us to just add those tools to the image because they are common enough that everyone would benefit from having them), this is the right approach.

[2017-08-01 08:19] pkubatrh commented on #142
Nodejs version 6 has been added to VERSIONS via #141
Closing

[2017-08-01 08:19] #142 closed

[2017-08-01 08:21] pkubatrh commented on #117
Nodejs version 6 is available now so I guess this can be closed.

[2017-08-01 08:21] #117 closed

[2017-09-26 21:33] rcwwilliams opened #151 "Add option for emptyDir volume and mountPath"
It would be great if the template could include an optional emptyDir volume and mountPath rather than having to add them by editing a deployment config YAML.

This is particularly useful for log files being able to persist after container restarts.

Thanks.

[2017-10-02 11:55] hhorak opened #153 "Strip sensitive data from the proxy settings"
See more background and info at https://bugzilla.redhat.com/show_bug.cgi?id=1366795#c13

[2017-10-19 05:56] joeybuddy opened #160 "there is no centos/nodejs-69-centos7 image"
In this section [Usage](https://github.com/sclorg/s2i-nodejs-container/blob/master/6/README.md#usage)
Should it be `centos/nodejs-6-centos7`

[2017-10-20 05:35] omron93 commented on #160
You are right, thanks for reporting this.

[2017-10-22 14:25] Dec- opened #162 "How to do E2E, Integration and unit testing?"
Hi,

Is there recommended way to do test?

[2017-10-23 06:27] pkubatrh commented on #160
Resolved via #161

[2017-10-23 06:27] #160 closed

[2017-10-23 18:50] #162 closed

[2017-11-15 01:43] kunyan opened #166 "Container will die when visit via https"
[code]

Using this code and nodejs s2i on openshift.

when I using
[code]

The container will die and got following message

[code]

[2017-11-15 14:48] cesarvr opened #167 "Suggestion: removing the chmod line to improve container reusability."
Hi ,

This is just a suggestion to delete this line [here](https://github.com/sclorg/s2i-nodejs-container/blob/master/6/Dockerfile#L56), so it can improve container reusability.

I understand the point for that line from security point of view, and last year I saw the same line in some mainstream containers but I think this kill container reusability.

What do I mean by reusability, take a look at

[2017-11-16 07:58] pkubatrh commented on #167
The command needs to be wrapped into a bash call:

[code]

Without that the nodejs scl will not be enabled and thus npm is not found in PATH:

[code]

[2017-11-16 11:52] cesarvr commented on #167
Hi,

I try your suggestion with this result:

<img width="1211" alt="screen shot 2017-11-16 at 11 10 50" src="https://user-images.githubusercontent.com/3899337/32888389-068863a4-cabf-11e7-9466-8af622ad493d.png">

Still can't find anything inside the container.

here is the job template I'm using:

[code]

[2017-11-16 12:02] pkubatrh commented on #167
This works for me:

[code]

[code]

[2017-11-16 12:17] cesarvr commented on #167
Now it works.
But I still think that it could be simpler if the image allows to call commands without bash.

Thanks.

[2017-11-16 12:17] #167 closed

[2017-11-17 08:44] kasicka commented on #166
Are you using certificate chains?

[2017-11-17 09:29] kunyan commented on #166
@kasicka yes. I merged the Intermediate cert with my self signed cert. and set it as `cert`

[2017-11-17 10:14] kasicka commented on #166
@kunyan this is a known issue and will be resolved (see https://bugzilla.redhat.com/show_bug.cgi?id=1513065 and https://bugzilla.redhat.com/show_bug.cgi?id=1513067).. the bug should not occur in nodejs v8 image

[2017-11-17 10:49] notroj commented on #166
If you have a customer wanting this fixed in the node v6 image please escalate to bugzilla.

[2017-11-29 13:15] kasicka commented on #153
Fixed by https://github.com/sclorg/s2i-nodejs-container/pull/170
BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1504545

[2017-11-29 13:28] #153 closed

[2017-12-01 09:07] chargio opened #171 "Generate configuration for react applications on node.js"
Trying to run an application with node.js and React with typescript does not work.

The application is running, and pointing to the port 8080, and you can curl localhost and 0.0.0.0, but there is no response when connecting through the service.

[2017-12-01 09:10] omron93 commented on #171
What IP is service pointing to? Are you connecting outside of OpenShift?

[2017-12-01 09:30] chargio commented on #171
I used the template directly.

[2017-12-01 09:33] chargio commented on #171
The service and the router are those of the template.

`oc rsh pod-name`

Inside the container

`curl 0.0.0.0:8080`  returns "no javascript enabled" page
`curl localhost:8080`will do the same
`curl $WEB_SERVICE_HOST:$WEB_SERVICE_PORT` will timeout, same behaviour than connecting to the route or to the service from another host in the cluster. I can connect from the pod to the API host

[2018-02-28 14:26] fndejong commented on #137
I modified the NodeJS 8 Dockerfile to (safely) install Yarn 1.5.1 and updated the S2I assembly file to run yarn install, instead of npm install, when a yarn.lock is present.

I will create a PR later today. A question that remains: can we rely on the yarn.lock always being available, or should we add an additional flag to force the use of yarn?

[2018-03-01 10:32] omron93 commented on #137
I think first step have to be to add `yarn` in Red Hat Software Collections. You can report bug (http://bugzilla.redhat.com/) which asks it. @notroj Where to get more information about adding new SW into RHSCL?

[2018-03-04 00:20] eduardomourar opened #177 "Add image for Linux Alpine"
I have made some modifications to use the alpine from official node docker (see fork [here](https://github.com/eduardomourar/s2i-node-alpine)). The question is if this is relevant to the upstream project. If so, I might need some help to make everything work (make, etc) with every OS.

[2018-03-15 13:07] torsava commented on #177
Hi @eduardomourar,
thanks for opening an issue for this!

I've tried taking a look at the size comparison between the alpine based image and the standard centos7 based one. As far as I understand, in your `eduardomourar/s2i-node-alpine` image is the `nodejs-4-centos7` so I compared those:

    docker.io/eduardomourar/s2i-node-alpine           latest              eb5ab9cf631d        2 hours ago

[2018-03-22 11:32] eduardomourar commented on #177
@torsava yes, you are right. This was my first try at it, so I guess we have room to improve the size of the alpine image with nodejs (there are some packages that can be remove after everything has been installed). I am open to suggestions.

[2018-03-26 12:30] kasicka commented on #166
I'll close this as resolved.

[2018-03-26 12:30] #166 closed

[2018-04-09 09:26] torsava commented on #177
@eduardomourar Since these requests for more bases are multiplying (Alpine, centos6, OL, ...), we've discussed this issue with the other maintainers and we sadly don't think it's feasible for us to maintain additional variants. That being said, thank you for opening the issue and offering to help!

[2018-04-09 09:27] #177 closed

[2018-05-05 13:00] Dec- opened #183 "Add npm run test?"
Hi,

can you add npm run test in assembly script?
Something like npm run build?

[2018-05-22 17:36] vnugent opened #185 "Support for FB create-react-app"
Is there a way to customize how node app is launched? For apps created with FB `create-react-app` I'd like to create an image with `npm run build` and serve contents from the `./build` dir.  At the moment when the pod starts, the app is built again with `npm start`,

[2018-05-23 09:57] omron93 commented on #185
You can add your own `.s2i/bin/run` script into source code of our app. [1] Probably the most safest way is to copy https://github.com/sclorg/s2i-nodejs-container/blob/master/8/s2i/bin/run and change it to your needs.

@kasicka You understand it more. Does it make sense to add this somehow in our `run` script?

[1] https://blog.openshift.com/override-s2i-builder-scripts/

[2018-10-16 03:17] weilip1803 opened #195 "Example for nodejs 8.9 LTS version"
The current example which uses nodejs version 8.6 is not stable. After repeated use of the builder image,
it give a gives a npm ERR! code Z_BUF_ERROR when install. Really hope to have a Long Term support version example. Thanks.

[2018-10-16 05:30] pkubatrh commented on #195
Hi @weilip1803

What example are we talking about here? Also please be aware that incremental s2i builds (as discussed in https://github.com/sclorg/s2i-nodejs-container/pull/182) are currently not supported.

[2018-10-30 08:56] ivoborisov opened #196 "Persistent Volume $NPM_CACHE"
Dear All,

We have a React application built with this image (s2i-nodejs8) inside of OpenShift. Currenly we're trying to speed up the builds by reusing the npm packages that are already downloaded from previous builds. Could you provide us with an example how we can use a persistent volume mounted as $NPM_CACHE inside a BuildConfig? Or perhaps you can give us another suggestion ?

Thanks a lot and

[2018-10-30 09:20] omron93 commented on #196
@kasicka @notroj ?

[2018-12-14 18:51] mcandre opened #199 "Don't expose port 8080 by default"
Many Node.js applications use a different port, or even avoid using networking altogether (such as Node.js CLI tools). I think the benefits of assigning a default port mapping are slim compared to the downsides of collision for different kinds of Node.js project configurations.

One workaround for downstream images is to reconfigure applications to match port 8080. Another workaround is to open up

[2019-02-20 19:05] bsharrow opened #202 "Support for webpack-dev-server in development mode"
The s2i `run` script only supports nodemon for hot deployments when `DEV_MODE=true`.  To use webpack-dev-server, I can set `DEV_MODE=false` and then override `NPM_RUN` but that results in my build and deploy env using different values for `DEV_MODE` and `NODE_ENV`.

Perhaps the `run` script can be updated with a new environment variable so hot deployments can be started with a different package th

[2019-03-21 22:02] adambkaplan opened #203 "Support Incremental S2I Builds"
Downloads from NPM (or NPM proxy) can take a significant amount of time depending on the complexity of the Node app. Allowing Node s2i builds to cache and restore `/node_modules` could significantly improve build times.

See https://github.com/openshift/source-to-image#incremental-builds on the s2i requirements.

[2019-03-22 01:43] magick93 opened #204 "make: *** [build-serial] Error 2"
Hello

I'm trying to following the instructions, specifically:

[code]

But when I run `make build TARGET=centos7 VERSIONS=8` it fails with:

[code]

[2019-03-22 06:05] pkubatrh commented on #203
https://github.com/sclorg/s2i-nodejs-container/pull/201

[2019-03-22 12:50] #203 closed

[2019-03-23 18:58] omron93 commented on #204
@magick93 You need to install `go-md2man` binary.

[2019-04-17 11:56] uocxp commented on #199
i had also this problem. I set therefore an env in the app to configure the port. Openshift exposes port 8080 as a default port for the routes.

[2019-04-24 15:40] venku122 opened #206 "Add support for Node 12"
https://medium.com/@nodejs/introducing-node-js-12-76c41a1b3f3f

Node 12 is out which is the new LTS. Would be great to use Node 12 features!

[2019-04-24 15:40] venku122 opened #207 "Add support for Node 12"
https://medium.com/@nodejs/introducing-node-js-12-76c41a1b3f3f

Node 12 is out which is the new LTS. Would be great to use Node 12 features!

[2019-04-29 06:54] pkubatrh commented on #207
Duplicate of #206

[2019-04-29 06:54] #207 closed

[2019-04-29 07:04] pkubatrh commented on #206
Hi, thanks for the interest! Just a leaving a quick note since it might take a while before a Nodejs 12 image is available:

- For CentOS7 we will first need to package the nodejs 12 SCLs in RHEL. No ETA on this, feel free to open up an RFE in Bugzilla if you are interested (and if there is none yet).
- For RHEL7 we are not building new versions of nodejs images anymore as there is the [RHOAR vers

[2019-05-31 09:28] rcwwilliams opened #209 "How long before nodejs 6 deprecated?"
Hi

We currently have an application using nodejs 6 and it requires a bit of work to be updated to a later version.  When would you expect 6 to be deprecated, please?

Thanks

Robin

[2019-05-31 09:45] pkubatrh commented on #209
Hi @rcwwilliams

an SCL image gets deprecated when the underlying SCL rpms get deprecated. You can find information about the lifecycle for each collection in the [customer portal](https://access.redhat.com/support/policy/updates/rhscl).

Looking at the list right now, nodejs6 has been deprecated since last month.

[2019-05-31 09:45] #209 closed

[2019-06-21 17:16] pauldburton opened #212 "Add the ability to use npm ci instead of npm install"
It would be awesome if this image had the ability to execute `npm ci` instead of `npm install` on the node 10+ images.

[2019-10-23 08:31] phracek opened #216 "[RFE] Add support for `npm config set cafile`"
This issue has an idea to add support for setting your own CA certification file into the different or internal npmjs registry then `npmjs.registry.org`.

[2019-12-12 16:29] cdrage commented on #137
@phracek What is the progress of this? I'm trying to run https://github.com/gothinkster/vue-realworld-example-app but keep encountering issues with not being able to use Yarn.

Funny enough... I'm actually able to get somewhat there when setting up an environment variable of `YARN_ENABLED=true` for s2i before deploying..

Was this ever implemented, and if so, is there any documentation anywhere?

[2019-12-19 17:44] kbradl16 opened #225 "What explicit Node version is being installed?"
How do I know we get Node v10.16.0, Node v10.17.0, or Node v10.18.0?

It's important because I need to know if I am able to use features added from a minor version or patch fix.

Example:
![image](https://user-images.githubusercontent.com/3843423/71196017-210ca080-225d-11ea-9dcc-e5408196cb1f.png)
- https://nodejs.org/docs/latest-v10.x/api/all.html

[2020-01-06 14:51] kbradl16 opened #227 "CentOS7 Node12? How?"
How do I use CentOS 7 with Node12? I don't see Node12 on the mirror list http://mirror.centos.org/centos/7/sclo/x86_64/rh/ Is there another place to look?

Maybe I'm confused. How does this project/repo fit into the equation?

[2020-01-07 06:26] pkubatrh commented on #227
Hi @kbradl16

currently the nodejs 12 rpms are in the [candidate repositories](https://cbs.centos.org/repos/sclo7-rh-nodejs12-rh-candidate/x86_64/os/). They need to stay there for a while before they can be moved to regular repos.

This github repository provides sources for container images that are using the nodejs SCLs (for centos7/rhel7) and modules (rhel8/fedora).

Hope this helps!

[2020-01-07 12:02] pkubatrh commented on #225
Hi @kbradl16, sorry for the late response.

you can check the version inside the image by asking the node binary:
[code]

For rhel8:
[code]

[2020-01-07 13:14] kbradl16 commented on #227
@pkubatrh thanks, this was extremely helpful!

So to clarify the SCL page will update when the [candidate repositories](https://cbs.centos.org/repos/sclo7-rh-nodejs12-rh-candidate/x86_64/os/) get "merged" in? And what does a while mean? Is there a way to monitor the time until it's available?

[2020-01-08 03:32] #225 closed

[2020-01-08 06:18] pkubatrh commented on #227
@khardix Do you know the answer to above?

[2020-01-08 09:51] khardix commented on #227
@kbradl16 I have just created a [PR][] that should enable pushing the collections to the mirrors. Once it's merged, the collection should be available in a few days.

[PR]: https://git.centos.org/centos/cbs-content-control/pull-request/25

[2020-01-09 01:58] kbradl16 commented on #227
@khardix @pkubatrh I see the [nodejs12 release Jenkins build](https://ci.centos.org/job/SCLo-pkg-rh-nodejs12-rh-C7-release-x86_64/) is now passing. What's the next steps? What happens in the next few days?

[2020-01-09 09:47] khardix commented on #227
There is a synchronization script that runs regularly which copies the RPMs from the build system to the public repository. After that, it may take a while until the changes propagate to all other public mirrors.

[2020-01-09 12:14] kbradl16 commented on #227
Did the sync script run? Any links to it?

[2020-01-13 14:25] khardix commented on #227
@kbradl16 The process is documented in [section of CentOS SIG guide](https://wiki.centos.org/SIGGuide/Content/Mirror). Sadly, no links to the actual script.

From cursory glance at the mirrors today, the collections still are not there – so it may be worthwhile to ask on `#centos-devel` on freenode (IRC), or on centos-devel@centos.org mailing list.

[2020-01-15 04:08] kbradl16 commented on #227
@khardix I asked. I did just notice that the mirror build was failing https://ci.centos.org/job/SCLo-pkg-rh-nodejs12-rh-C7-mirror-x86_64/

any ideas how that ties into the process?

[2020-01-15 10:24] khardix commented on #227
@kbradl16 The mirror job checks the packages on mirrors; in other words, once it is green, the packages are (should be) publicly available and installable. You should be able to use the status of this job in place of the mirror refresh :wink:

[2020-01-21 14:04] khardix commented on #227
@kbradl16 I can see that the rh-nodejs12 packages have made the journey to the mirrors at last :tada: Are they working for you and can we thus close this issue?

[2020-02-03 21:17] kbradl16 commented on #227
I don't see node12 showing up on the softare collections page. Is this an issue? https://www.softwarecollections.org/en/scls/?search=nodejs

[2020-02-04 11:12] khardix commented on #227
Not really; It just means I did not yet find the time to prepare the announcements and add the entries to scl.org.

[2020-02-04 13:59] intirix commented on #227
I was able to do a yum install, so it looks like it is working.  Thanks a lot for your work!

[2020-02-09 12:45] dnmd opened #229 "[Questions / Feature] ability to `yum install` additional packages"
Some `npm packages` have additional dependencies outside the `npm` scope. For example the `puppeteer` npm package will download a recent version of Chromium. Chromium in its place depends on packages being present on the system it runs on.

When running `ldd chrome | grep not` it comes clear that the required packages are missing in this `s2i`. For example; `libXcomposite.x86_64 libXcursor.x86_64

[2020-02-12 10:42] pkubatrh commented on #229
Hi, @dnmd, thanks for the question!

Unfortunately as root permissions are required to install packages this cannot be done anywhere else other than in the Dockerfile during the build of the image. The `assemble` script does not run under the root user, so extending it will not save you either.

If you do not need to get this working in Openshift you can just build a new image based on our images,

[2020-02-15 00:19] kbradl16 commented on #227
Hi, sorry forgot to submit my comment. It worked for me too! Yay! Thanks!

I have one last question. It seems like node 12.10 is the version available. How do we get the latest version of node 12 installed?

[2020-02-17 10:01] khardix commented on #227
@kbradl16 Not all version of the Node interpreter are packaged; the repository should contain the latest packaged one. If you want to always have the newest version released by upstream, I'm afraid you would have to build it yourself.

[2020-02-17 18:50] #227 closed

[2020-04-17 08:33] dkarnutsch opened #233 "Build-Error: package nss_wrapper is not installed"
When building the containers with:
[code]
I receive
[code]
This has worked before, but since a couple of days it seems that something is broken. Any ideas?

[2020-04-18 08:53] karangarg45 commented on #212
Second this..Yesterday our whole app broke because it downloaded latest dependencies for some packages since we had caret symbol in front of our dependency version.

[2020-04-20 12:32] phracek commented on #212
@pauldburton @karangarg45 Hi folks, thanks for the issue. I have read the `npm ci` https://docs.npmjs.com/cli/ci.html#description. As I don't know the `NPM` in details, can you please help me understand what is a difference? What about to create a PR and update `s2i-nodejs-container`? Does it make sense to you?

[2020-04-20 13:21] karangarg45 commented on #212
@phracek so any project which uses npm has a package.json file which specifies the version of every dependency that needs to be installed while running npm install.
In package.json there is an option to tell npm to install the latest version of the dependency every time by specifying some symbols like tilde(~) caret(^) depending if you want the latest of the patch version or latest of the minor ve

[2020-04-20 15:24] phracek commented on #233
@dkarnutsch Hi, Thanks for the report.
We have already reported by https://bugs.centos.org/view.php?id=17271.

It should be already fixed. The package is again part of CentOS repositories. http://mirror.centos.org/centos/7/sclo/x86_64/rh/.

Feel free to reopen it again, if you observe it again.
Closing.

[2020-04-20 15:24] #233 closed

[2020-04-21 08:25] phracek commented on #212
@karangarg45 It makes sense to me know.

[2020-04-21 12:27] phracek commented on #212
@karangarg45 @pauldburton Can you please make a pull request on it for all supported versions? 10 and 12?

[2020-06-04 10:23] svettwer opened #242 "Error: certificate has expired"
Hi :wave:

We're using centos/nodejs-12-centos7 for an s2i build of our application. Since last weekend (01.06.20) we're receiving messages about expired certificates when performing rest calls using `node-fetch`.

[code]

A first analysis has shown that the issue does not occur when starting the application on the development machine without a previous s2i build. When building the application usi

[2020-06-04 10:32] svettwer commented on #242
I've also checked the server certificate. It is up to date and valid.

[2020-06-04 10:56] ppisar commented on #242
Could you show us the URL?

Recently a big certificate authority experienced an certificate experiation.
It mitigated the issue by reissuing the root certiciate with the same key
but a prolonged life time.

However, it does not prevent the users to get the error untill they update the
certificate authority certificate bundle (ca-certificates RPM package in RHEL
systems), or until the servers stop

[2020-06-04 11:21] svettwer commented on #242
I also thought about that issue but was unable to reconstruct it. Unfortunately I cannot provide the URL.

When performing a `wget`from the container I receive:
[code]

This points exactly to the expired cert issue, if I understood it correctly. That it worked locally might be caused by an updated OpenSSL version that is able to build up the cert chain without using expired cert. I'll get in conta

[2020-06-04 11:52] ppisar commented on #242
You can reproduce it with wget. What cryptographic library does your wget use?

# wget --version
GNU Wget 1.14 sestaven na systému linux-gnu.

+digest +https +ipv6 +iri +large-file +nls +ntlm +opie +ssl/openssl

This means OpenSSL. What certificats does the server send?

# openssl s_client -connect HOST:PORT -showcerts

Is one of them expired? Then ask the server admin to fix the server.

If they

[2020-06-05 12:11] svettwer commented on #242
Hi :wave:

Thanks a lot for your support.
We figured out that the expired comodo intermediate certificate was still transmitted to the client. So we're about to fix that on the server side. Thanks for helping me to identify the expired certificate. I've not that much experience on certificates and it was great to learn about it! Many Kudos! :clap:

In addition, the ca-certificates version in  the

[2020-06-06 06:27] #242 closed

[2020-06-30 05:08] gbucknel opened #243 "GID question"
Just wondering, the GID here is '0' (the root group) .
https://github.com/sclorg/s2i-nodejs-container/blob/master/8/Dockerfile#L66

Why is this? Shouldn't it be 1001 as well ?

[2020-07-02 07:12] droidscout opened #244 "NODE_ENV not working for different build environments"
Hi there!

I've noticed that setting the NODE_ENV variable to something other than "production" doesn't takes the nodejs runtime mode into account.

My package.json has the following scripts added:
"scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "production": "ng build --configuration=production",
    "integration": "ng build --configuration=integration",
    "de

[2020-07-07 06:50] droidscout commented on #244
Code snippet from 12/s2i/bin/assemble:

[code]

# Fix source directory permissions
fix-permissions ./

[2020-08-10 13:11] weizenberg opened #250 "Problem when trying to fetch private git repository (npm install)"
Hello!

I used the s2i-nodejs task from the [OpenShift tekton catalog](https://github.com/openshift/pipelines-catalog/blob/master/task/s2i-nodejs/0.1/s2i-nodejs.yaml)), with the same parameters and settings.

My package.json contains private git (bitbucket) repository, so when the container trying to install the npm modules, it failed with the following message:

`npm ERR! Error while executing:`

[2020-11-09 09:17] phracek commented on #206
NodeJS 12 is already shipped for all operating system. RHEL7, Fedora and CentOS7. Closing.

[2020-11-09 09:17] #206 closed

[2020-11-17 07:35] ibotty opened #258 "ERR_CRYPTO_SCRYPT_NOT_SUPPORTED because nodejs was compiled without scrypt support"
How can one work around scrypt not being supported?

[2020-12-16 09:27] phracek opened #262 "run_all_tests some tests failed for version 14"
During the internal testing, some tests failed.

[code]

[2020-12-16 09:29] phracek commented on #262
as soon as the issue is fixed, then sync it.

[2021-05-14 16:59] evanshortiss opened #275 "alternatives to npm start"
I've noticed that the resulting s2i image starts the Node.js application using [npm start](https://github.com/sclorg/s2i-nodejs-container/blob/master/12/s2i/bin/run#L18-L27).

This is a good idea since it's common practice and enables a developer to set flags etc, but it does result in two Node.js processes being launched, as seen in this screenshot:

![Screenshot 2021-05-14 at 3 21 33 PM](https:/

[2021-05-14 20:31] ryanj commented on #275
This doesn't entirely address the issue, but you should be able to run any script that is defined in your `package.json` using the `NPM_RUN` env var.

Last I checked, I think we actually run something like: `npm run $NPM_RUN` with a default setting of "NPM_RUN=start".  I prefer this to DEV_MODE, because restarting everything via nodemon isn't really ideal for inner-loop work.

[2021-05-14 20:56] ryanj commented on #244
This definitely looks like a bug to me:  https://github.com/sclorg/s2i-nodejs-container/blob/master/14/s2i/bin/assemble#L89

`if [ "$NODE_ENV" != "production" ]; then` your NODE_ENV settings end up getting overwritten with "development"

[2021-05-14 20:58] ryanj commented on #199
Try using the `PORT` env var.  You should be able to set `PORT=3000`

[2021-05-14 21:31] evanshortiss commented on #275
@ryanj I think maybe I need to explain this better. The issue isn't the target script, the issue is over head of using `npm run`, since it create two Node.js processes inside the container. Running `node index.js` would create just one process.

It's minor, but if someone were to run an image built this way for a serverless/knative application then the 9x increased startup time (see second screens

[2021-06-01 07:14] abhsange opened #277 "Clair scan vulnerability for ubi8/nodejs14"
Using pretty basic Dockerfile
[code]
However, Clair scan always report following error. Tried updating `nodejs-nodemon` package using various ways, however nothing is resolving issue. From investigation so far, it seems that "RHSA-2021:0549" and "RHSA-2021:0734" are related to nodejs12 hence tried to explicitly update nodejs12 using command `RUN yum -y module update nodejs:12` however that also do

[2021-06-24 11:12] evanshortiss opened #279 "feature request: include git binary in builder image"
I recently ran into an issue where my builds failed. It was due to the fact I was using installing a package I had forked and updated on GitHub. In other words, I was installing the package from GitHub. A `package.json` entry for this looks similar to the following JSON:

[code]

You can quickly reproduce this issue like so:

[code]

The following logs are produced:

[code]

This indicates that Gi

[2021-06-24 11:14] evanshortiss commented on #279
Using the following building and running Dockerfile also indicates Git is not installed:

[code]

[2021-06-24 12:44] pkubatrh commented on #279
Hi @evanshortiss
This is already fixed via #274, it just takes a while for the change to propagate to the images built by Red Hat.

[2021-06-24 12:44] #279 closed

[2021-06-24 14:09] evanshortiss commented on #279
Ah, thanks! I should have searched closed issues too 😊

[2021-07-20 16:48] BethGriggs opened #281 "Should we add the assemble script to minimal image for S2i flow with 'simple' apps?"
I have been testing the minimal Node.js image with various deployment methods (S2i, Docker, etc.).

I've observed that trying to use it directly with an S2i flow fails:
[code]

[code]

This is most probably expected, as the intent is for it to be a 'runtime' image, not a 'build'/'assemble' image. But, from digging into the container, I think all it would take for the S2i flow to work with the mini

[2021-07-21 13:44] mhdawson commented on #281
I see the possibility of confusion since the minimal image won't be able to be used to build all Node.js applications (those with native dependencies). The same thing could happen though when using docker as well. I'd lean towards that being less of a concern than the extra work people might have to do in order to implement a chained S2i build.

That assumes that the only reason it does not work i

[2021-08-04 14:41] hhorak commented on #281
Summary from a discussion on the meeting today -- there is generally agreement that including assemble script makes sense, and except the note about usage limitations we should also refer to this image as "minimal" rather than "runtime" in the documentation, as using "runtime" indeed might sound misleading.

[2021-08-10 21:26] mhdawson commented on #275
Fyi - some info/discussion  on this topic is provided in the Node.js Reference architecture: https://github.com/nodeshift/nodejs-reference-architecture/blob/main/docs/development/building-good-containers.md#avoiding-using-npm-to-start-application. It would be good to have a way to run without having to use npm.

[2021-08-31 09:17] phracek opened #285 "node-rdkafka failed with gcc-4.8"
Fix in node-rdkafka works only with gcc-8 available on RHEL8 and not with gcc-4.8 available on RHEL7.

It would be nice to skip this test from RHEL7, CentOS7.

Upstream PR https://github.com/Blizzard/node-rdkafka/pull/892/files.
The upstream issue for fixing also for gcc-4.8 https://github.com/Blizzard/node-rdkafka/issues/910

[2021-09-07 21:46] BethGriggs commented on #281
@hhorak any updates on this?

[2021-09-08 06:57] pkubatrh commented on #281
Planning to take a look at this soon

[2021-09-09 08:41] pkubatrh commented on #281
Looking at this it definitely seems possible. Might need some more dependencies added to the minimal image (already had to add `findutils`), so the image size might increase.
Have yet to check if my PoC works with s2i available directly inside Openshift, then I will add the changes to the nodejs-14-minimal PR for review.

[2021-09-09 14:50] mhdawson commented on #281
It would be good to understand by how much. A small increase I'd have no issue with but for a larger one that might mean it does not make sense to doit.

[2021-09-20 04:26] aenertia opened #289 "nodejs:14-ubi8 Failing due to upstream removal of binding release binary reference in image"
Using source application deployment strategy and the nodejs14-ubi image. A call to pull the release tag of a now removed nodejs-binding-86-83

This means s2i deploys relying on the nodejs14 image are currently failing.

Please fix

![image](https://user-images.githubusercontent.com/286383/133957064-20d85cef-8e8b-4894-bfd3-5459cb7bbdd1.png)

[2021-09-20 07:33] pkubatrh commented on #289
Hi @aenertia thanks for the report.
Do I understand it correctly that the s2i build is failing because node-sass upstream removed one of their releases? If so I do not think this is something we can help with.

[2021-09-22 08:35] phracek commented on #285
The test should be suppressed for  CentOS 7 and RHEL7 is https://github.com/sclorg/s2i-nodejs-container/blob/master/test/run#L590

Upstream kafka issue is here: https://github.com/Blizzard/node-rdkafka/issues/910
WDYT?

@pkubatrh @hhorak

[2021-10-27 21:51] jarrett-confrey opened #296 "add nodejs 16"
nodejs 16 lts came out yesterday
https://nodejs.org/en/about/releases
it would be nice to get an image with it added

i created a pr for what i think needs to happen: https://github.com/sclorg/s2i-nodejs-container/pull/295

[2021-11-19 16:56] BethGriggs opened #299 "Minimal image documentation difference between UBI8/RHEL8"
I have noticed that the RHEL8 documentation for the minimal image does not mention the specifics of the minimal image - it seems to be a copy of the documentation for the regular nodejs-14 image.

I am not sure if both sets of documentation are updated from this repository, but I figured they should be in sync.

Example:
- [1] https://catalog.redhat.com/software/containers/rhel8/nodejs-14-minimal/

[2021-11-19 17:27] BethGriggs commented on #281
As of RHEL 8.5 the assemble script is added to the minimal images, Thanks all.

[2021-11-19 17:27] #281 closed

[2021-11-29 11:24] phracek commented on #262
This is already fixed and solved by: https://github.com/sclorg/s2i-nodejs-container/pull/261
Closing it.

[2021-11-29 11:24] #262 closed

[2021-11-30 09:38] frenzymadness opened #301 "Fedora 32 and 33 EOL"
Fedora 32 is unsupported since 2021-05-25 and Fedora 33 is going to lose support tomorrow. It might make sense to document it somewhere or remove the docker files based old Fedora releases.

This is not a problem for nodejs 10 and older because they are marked as deprecated in their readmes.

[2021-11-30 15:23] phracek opened #302 "test suite 'clients' pino failed"
The tests suite 'pino' clients failed:

[code]

See the final result summary:
[code]

[2021-11-30 16:02] mhdawson commented on #302
What container is it trying to run in so that I can try with IMAGE_NAME= ?

[2021-11-30 16:02] mhdawson commented on #302
Is the base s2i image - f32/nodejs:12 ? and if so which registry is it in?

[2021-11-30 16:10] mhdawson commented on #302
I looked here but I can't find anything that looks like a nodejs container - https://registry.fedoraproject.org/

I guess I don't understand the flow how I can recreate for fedora?  For RHEL and ubi I can just point to the published containers with IMAGE_NAME and then run/debug the tests. @phracek, @hhorak

[2021-11-30 16:36] frenzymadness commented on #302
You can clone this repository and build your own container image via `make tag TARGET=fedora VERSIONS=12`. What I'm confused about is that the error message here is different from what I¨ve seen in PRs.

[2021-11-30 21:30] mhdawson commented on #302
@frenzymadness thanks build container like that and then ran with:

export IMAGE_NAME=f32/nodejs
./run

and all tests passed:

[PASSED] for 'app' test_run_app_application
 [PASSED] for 'app' test_s2i_usage
 [PASSED] for 'app' test_scl_usage
 [PASSED] for 'app' test_connection
 [PASSED] for 'app' test_docker_run_usage
 [PASSED] for 'app' test_scl_variables_in_dockerfile
 [PASSED] for 'app' test_npm

[2021-11-30 22:28] mhdawson commented on #302
The failures seem to be occuring in the pino CI runs as well - https://github.com/pinojs/pino/runs/4371438895?check_suite_focus=true

[2021-11-30 22:29] mhdawson commented on #302
I tried going back to previous pino versions and the tests still failed so I don't think it is related to the pino version/branch, maybe instead of the types module published externally.

[2021-11-30 22:34] mhdawson commented on #302
I suggest we watch the pino issues to see if it is flagged/resolved there. I reached out to one of the maintainers I know to see if it is a known issue.

[2021-12-01 09:37] phracek commented on #302
@mhdawson This issue causes problem with tests on Fedora

[2021-12-01 12:10] phracek opened #303 "RHE8 - OpenShift 4 tests are failing"
[code]

[2021-12-02 16:52] mhdawson commented on #302
The test in question fixed.

[2021-12-07 13:40] pkubatrh commented on #303
This was fixed by https://github.com/sclorg/s2i-nodejs-container/pull/300

[2021-12-07 13:40] #303 closed

[2021-12-07 17:22] phracek commented on #302
Issue is fixed. Closing it.

[2021-12-07 17:22] #302 closed

[2021-12-08 07:57] phracek commented on #301
Tests are failing for these reasons, in my opinion.

[2021-12-19 03:20] kunyan opened #308 "Need Monorepo support"
Monorepo is becoming more and more popular repo style in Node.js ecosystem.
It support the developers could arrange the packages as they want and link them together.

The current s2i steps looks not support monorepo. I can show some example which I met

the monorepo folders are like this

* packages/
  * foo/
    * src/
    * README.md
    * package.json
  * bar/
    * src/
    * README.md
    * p

[2022-01-25 17:41] #296 closed

[2022-01-25 17:45] jarrett-confrey opened #315 "node 14.18.2"
hello, i see that there is an rpm for node 14.18.2 available now. what is the process for generating new minor version images?

[2022-01-26 07:27] pkubatrh commented on #315
The rpms first need to be released by Red Hat in RHSCL or RHEL8 (depending on what version are you looking for). Only after that happens we can create a new build of the images.

[2022-01-26 17:23] jarrett-confrey commented on #315
im hoping to get the [ubi7/nodejs-14](https://catalog.redhat.com/software/containers/ubi7/nodejs-14/5f770e670531ff37c904327c) image updated. it does appear that a newer rpm is currently available (14.17.5 vs 14.18.2)
[code]
[code]

[2022-01-27 07:21] pkubatrh commented on #315
Ah if the nodejs rpm update is already released that makes it easier to figure out when the official images get updated.
The 14.18.2 update was [released](https://access.redhat.com/errata/RHSA-2022:0041) on Jan 6, the regular [rebuild](https://access.redhat.com/errata/RHBA-2022:0107) of ubi7 images happened on Jan 11. The images' content is frozen a few days before the container images are shipped

[2022-02-10 08:36] terbolous commented on #137
Couldn't yarn be supported in the s2i scripts regardless?

We simply install yarn with npm on our custom image, but would prefer if we didn't have to maintain the s2i scripts as well.

Wrapping it in a `YARN_ENABLED` environment variable or similar could let it be up to the user/read to get yarn installed first

[2022-02-16 09:37] pkubatrh commented on #289
Closing for now, please reopen if we can move this forward somehow

[2022-02-16 09:37] #289 closed

[2022-04-11 07:13] phracek opened #327 "OpenShift 4 tests are failing"
OpenShift 4 tests are failing on NodeJS 12. See https://github.com/sclorg/s2i-nodejs-container/pull/323

[2022-04-11 07:16] phracek commented on #301
Closed in favor of https://github.com/sclorg/s2i-nodejs-container/pull/323

[2022-04-11 07:16] #301 closed

[2022-04-11 09:39] stankurek commented on #244
@ryanj  exactly. I also found it. Is anyone going to change it? Or if is not a bug then can someone explain it.

[2022-04-27 08:54] hhorak commented on #285
Idea mentioned on RHSCL containers images meeting April 27 -- we might consider installing newer gcc collection. We didn't discuss it properly, so further analysis whether it's a good idea is needed.

[2022-05-19 12:54] matejvasek opened #333 "Build fails when project contains `node_modules` directory."
When trying to build an image from a project containing the `node_modules` directory I got following error:
[code]
With `NodeJS 14` I got different error:
[code]

I had to either delete the `node_modules` or put it into s2i ignore list.

Is this expected behaviour?

[2022-06-13 05:35] kunyan opened #341 "pnpm and yarn support"
# Concept
Hi there,

Since [pnpm](https://pnpm.io/) and [yarn](https://yarnpkg.com/) is becoming [more and more popular ](https://www.npmtrends.com/npm-vs-pnpm-vs-yarn) in nodejs development community.

npm is not the only package manager any more

I think the s2i-nodejs should allow people who is using a non-npm package manager

My ideas is detect the lockfile to check if it is using a different

[2022-07-26 07:48] zmiklank commented on #327
Is this still actual?

[2022-08-30 06:57] fbm3307 opened #352 "Testing issue created for samples operator"
this issue is created for the testing purpose no action required

[2022-08-30 07:11] fbm3307 commented on #352
Closing this as it was only for workflow testing purpose

[2022-08-30 07:11] #352 closed

[2022-09-14 06:52] kaufmo opened #355 "QUESTION: v18 image availability in registry"
Hi, do you know when is the ubi8/ubi9 nodejs18 image available through the registry.access.redhat.com?

[2022-09-21 17:24] pacostas opened #357 "Node 18 Builder image "Dockerfile.c9s" does not complete build"
Building docker image `Dockerfile.c9s` with `docker build -f Dockerfile.c9s . -t builderImage18c9s` throws below error during building process
[code]
Trying to figure out what is the issue I believe it has to do with with not specifying nodejs version https://github.com/sclorg/s2i-nodejs-container/blob/e70cd8f58174d83b0eb8c619ee224dbf691d66f3/18/Dockerfile.c9s#L57-L63
as on Dockerfile.c8s  https:/

[2022-09-23 20:39] mhdawson commented on #355
@kaufmo a ubi8 nodejs18 container will be available some time after the community makes nodejs 18 LTS in October.  The exact timing depends on how that timing lines up with RHEL point releases but I think we are hoping for some time in December.

Until then we have unofficial images in quay that can be used for early testing - https://quay.io/repository/sclorg/nodejs-18-c8s. These are based on cen

[2022-09-27 04:45] kaufmo commented on #355
@mhdawson thx for your answer :+1: then we will wait for the image. Our policy is to use only official images

[2022-09-27 22:26] mhdawson commented on #355
@kaufmo thanks for confirming. Is it ok if I close this issue?

[2022-09-28 04:53] kaufmo commented on #355
yeah its ok :+1:

[2022-09-28 04:53] #355 closed

[2022-10-03 10:31] KrisLamote commented on #308
I was kindof assuming that the NPM_RUN env var would be doing that. iow if present run an alternative build script during openshift Build and running an alternatif start script for the openshift Deploy. But this indeed doesn't seem to be the case.

[2022-10-04 12:47] phracek opened #360 "CVP failed on 'no such file or directory"
[code]

[2022-10-04 12:49] phracek commented on #360
Wrong repo

[2022-10-04 12:49] #360 closed

[2022-10-20 10:14] phracek commented on #327
No. Closing.

[2022-10-20 10:14] #327 closed

[2022-10-20 10:19] phracek opened #365 "NodeJS container failed again on `rdkafka`"
The failed logs can be seen here:
* https://artifacts.dev.testing-farm.io/9742a372-c39c-4968-87a6-b292a0f90440/ for CentOS Stream 9
* https://artifacts.dev.testing-farm.io/7bc23ccc-b2f9-425f-b1a7-4a6d174c8ce9/ for NodeJS 14 Fedora
* https://artifacts.dev.testing-farm.io/e7b3853c-61b8-446c-a5f7-b5d152581d70/ for NodeJS 16 Fedora
* https://artifacts.dev.testing-farm.io/d306391c-de72-4958-898b-bd273d

[2022-10-20 10:29] phracek commented on #365
@mhdawson Can you please help us with what's going on? I don't follow what is missing or wrong.
[code]

[2022-10-20 10:30] phracek commented on #365
Issue on `node-rdkafka` is also filed here: https://github.com/Blizzard/node-rdkafka/issues/979

[2022-10-20 21:09] mhdawson commented on #365
@pacostas could you help out with this one. I think it lines up with some testing you are already doing with Kafkajs and node-rdkafka so you might have a heads start.

[2022-10-20 21:12] mhdawson commented on #365
@phracek there was a new version of node-rdkafka published 3 days ago. Did this just art failing or is it just failing on the platforms you mentioned or is it the first time we are trying to run the tests there?

[2022-10-21 15:58] pacostas commented on #365
@mhdawson  Yes, I can validate that until version 2.13 the build succeeds.

[2022-10-21 17:19] mhdawson commented on #365
@pacostas thanks, that is a good starting point. Does it also fail locally for you or just in the container as part of running the tests?

[2022-10-22 14:24] pacostas commented on #365
@mhdawson I reproduced the error on the [node 14 fedora](https://github.com/sclorg/s2i-nodejs-container/blob/master/14/Dockerfile.fedora) which is one of the above container images. I'm trying to rebuild latest versions of this package that exist only on github with the hope the issue is fixed in these later commits.

[2022-10-24 12:22] phracek commented on #365
@pacostas @mhdawson What should be fixed in s2i-nodejs-containers? Or should we wait a couple of days? I saw in the log, that we are using node_rdkafka 1.9.2 and you are talking about node_rdkafka 2.13.  Do we need somehow extend https://github.com/sclorg/s2i-nodejs-container/blob/master/14/s2i/bin/assemble?

[2022-10-24 13:30] pacostas commented on #365
node-rdkafka does not have version 1.9.2 so probably this version is of [librdkafka](https://github.com/edenhill/librdkafka)

[2022-10-25 11:53] pacostas commented on #365
There is no `which` command installed on fedora, that is why is failing. By adding the `which` word inside the MODULE_DEPS it succeeds installing node-rdkafka

[2022-10-25 13:08] mhdawson commented on #365
@pacostas do you know what introduced the need for which? I'm wondering if it was the node-rdkafka wrapper itself or librdkafka that it depends on?

[2022-10-25 14:33] pacostas commented on #365
@mhdawson  Good question, looks like is on build of librdkafka on this line https://github.com/edenhill/librdkafka/blame/master/mklove/modules/configure.base#L2449 . This was introduced 1 year ago.
It wasnt visible from the final error. It was only visible on the checks, above the error.
Definetely we can open a PR on librdkafka to replace the which or create an alias for it. Although `which` is v

[2022-10-25 14:34] mhdawson commented on #365
@pacostas how big is which in terms of bytes?

[2022-10-25 14:59] pacostas commented on #365
@mhdawson 81 kilobyte
[code]

[2022-10-25 15:01] mhdawson commented on #365
@pacostas thanks given that I think we should add it to the container.  Can you create a PR to add it to the 14, 16 and 18 containers?

@hhorak, @voxik, @kasicka please comment if you have any concerns in adding it to the containers.

[2022-10-25 15:03] pacostas commented on #365
@mhdawson I think it has already been added https://github.com/sclorg/s2i-nodejs-container/pull/366

[2022-10-25 15:41] hhorak commented on #365
We need to pay attention at dependencies as well, but I don't expect which having any other RPM deps. I don't have a strong opinion, but incline to say "let's add it".

[2022-10-25 19:09] mhdawson commented on #365
@pacostas thanks for pointing that out.

[2022-10-26 10:29] hhorak commented on #365
Looking at the real example locally:

Without `which`:
[code]

With `which`:
[code]

The diff:
[code]

So the difference is really just a bit more than 100kB, so I'd say let's add `which` for the sake of usability.

[2022-10-26 14:55] #365 closed

[2022-11-04 04:09] lcanavesio opened #368 "Would it be possible to add legacy-peer-deps?"
Hi Software Collections.
I need install with legacy-peer-deps.
Would it be possible to add in assemble this lines of code ?

if [ "$NODE_ENV" != "production" ]; then

	echo "---> Building your Node application from source"
	if [ "$NPM_MODE" == "legacy-peer-deps" ]; then
	echo "---> Installing all dependencies (including peer dependencies) with legacy-peer-deps"
		npm install --legacy-peer-deps
	el

[2022-11-14 10:44] pacostas commented on #368
@lcanavesio As a temporary solution, you can pass an env variable to the npm. So you can do something like `s2i -e npm_config_legacy_peer_deps=true build . my-build-image  my-node-app`
More info about npm :  https://docs.npmjs.com/cli/v9/using-npm/config

[2022-11-23 13:45] kunyan commented on #368
The best solution is create a `.npmrc` file in your workspace with following content

[code]

It will only apply to your current project without impact any others